{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0-beta",
    "title": "API Documentation v2 | Printful",
    "description": "# About the Printful API\n\n<div class=\"alert alert-info\">\n    <h3>Welcome to API v2 BETA</h3> \n    <ul>\n        <li>\n           We’re excited to inform you that the new major version of our API just went live, and we want to invite you to participate in the Open Beta test. \n            Please keep in mind that this release is still in BETA, although all presented endpoints can be used in a production environment. \n            Since this is a BETA release, we are keen on adopting any changes to our API (which we encourage you to pass via <a href=\"https://forms.gle/Yq4t1poQQR8Mwoyt5\">this feedback form</a>).\n            We do not expect to introduce any breaking changes to the current form of endpoints, although the final form of each endpoint might slightly vary from the current version.\n        </li>\n    </ul>\n</div>\n<br>\n\n* **What is the plan for the new endpoints V2s.**\n\n * Timeline\n   * 2023\n     - <b> Q4 – Sync </b> – Merging two similar APIs – Products and Ecommerce platform sync to one for all actions regarding the Sync Products and Sync Variant creation.\n     - **Q4 – Full Orders v2**\n   * 2024\n     - **Q1 – Mockup Generator v2**\n     - **Product templates v2**\n   * 2025\n     - **Deprecation of the old versions of endpoints**\n* **How to use new endpoints?**\n    Create or use an already created private token for authorization. \n    Unless it's stated otherwise, the v2 version of Printful API may be used like the v1 version.\n    All v2 endpoints use **/v2** prefix and the specifics of each endpoint are explained in a dedicated section.\n   \n* **Test and provide feedback:** Explore the new features, experiment with the enhancements, and share your feedback through our dedicated [feedback form](https://forms.gle/Yq4t1poQQR8Mwoyt5).\n\n### What is new in the V2s\n\n- The flexibility of order creation with itemized order building [(read more)](#tag/Orders-v2).\n- Simplifying embroidery orders: auto thread color detection as default, simplified thread colors definition on the layer level.\n- New, powerful design creation with multiple design layers support and positioning for order items and sync variants [(read more)](#tag/Orders-v2).\n- New, more secure Webhooks by enforcing HTTPS, added expiration date, and request signing.\n- More flexibility in webhook per event configuration. \n- New webhook events – a new event for catalog price change, and the stock update event is now real-time with a refresh rate every 5 minutes (previously every 24h).\n- More information in the Catalog about the products (images, discounted pricing, placement information).\n- More flexibility in the catalog (extensive filtering and sorting options, DSR support, pagination).\n- More information on the order shipment level – more precise EDT, departure country, and shipment tracking events.\n- Standardization of returned time in API – standardized format according to ISO 8601, UTC time zone.\n- Standardization of returned price formats in API. Prices are displayed as a string with up to 2 decimal points.\n- Uniform pagination parameters across all endpoints.\n- Performance improvements for all endpoints.",
    "contact": {
      "name": "Printful developer support",
      "url": "https://www.printful.com/docs/support",
      "email": "devsupport@printful.com"
    },
    "x-logo": {
      "url": "https://static.cdn.printful.com/dist-pf/image-assets/off-center-full-color-black.1de1e822b15b8e74075c8d1fa631d4e3.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "Printful"
    }
  },
  "servers": [
    {
      "url": "https://api.printful.com",
      "description": "The Printful API is a RESTful API, that uses the HTTP protocol for communication. HTTP GET, POST, PUT and DELETE methods are used to access the API."
    }
  ],
  "tags": [
    {
      "name": "Rate Limiting",
      "description": "Printful implements rate limiting to ensure the stability of the API while\nkeeping it fair for all users. Rate limiting is handled differently depending\non the version and endpoint being used.\n\n### Header values\n\nPrintful uses the following header values to communicate rate limits:\n\n```\nX-Ratelimit-Limit\nX-Ratelimit-Remaining\nX-Ratelimit-Reset\nX-Ratelimit-Policy\n```\n\nHowever, the meaning of these values changes depending on the algorithm used.\n\n### V1 Rate limitting\n\nV1 used a very simple rate limiting mechanism, you had a limit of 120, every\nrequest would reduce that limit by 1, if it hits 0 you would receive a 429 error,\nevery minute the limit of 120 would be restored. See: [V1 Rate Limits](/docs/#rate-limits).\n\nThis system is good, because it's easy to understand for most users. However,\nwe found it had a number of disadvantages both for users and for Printful.\n\n- A burst in traffic could lead to 120 requests in the first second. This is\n  harmful for Printful and will lead to a bad user experience as all end users\n  wait for the rate limit to be reset.\n- Some users will have close to 120 requests a minute, but most sites don't have\n  such uniform traffic.\n\n### V2 Rate Limiting\n\n#### Leaky Bucket\n\nIn V2 of the API Printful implements a [Leaky Bucket](https://en.wikipedia.org/wiki/Leaky_bucket)\nrate limiting algorithm.\n\n**Note:** The algorithm does not implement any queuing mechanisms in its\ncurrent form so it can also be described as a [Token Bucket](https://en.wikipedia.org/wiki/Token_bucket)\nalgorithm.\n\nLike with the old rate limiting algorithm, when you make a request to the API,\nthe `X-Ratelimit-Remaining` header value will go down by one. However, the `X-Ratelimit-Reset`\ndoes not work the same, it states how long it will take to \"refill the bucket\".\nThe bucket will be refilled one drop at a time instead of all at once, so the\n`X-Ratelimit-Reset` will be much smaller after the first request.\n\nBy default, after the first request the headers will look like this:\n\n```\nX-Ratelimit-Policy: 120;w=60;\nX-Ratelimit-Limit: 120\nX-Ratelimit-Remaining: 119\nX-Ratelimit-Reset: 0.5\n```\n\nThis means 120 requests can be made in a single burst, one request has already\nbeen made and `X-Ratelimit-Remaining` will reach 120 again in 0.5 seconds. The\n`X-Ratelimit-Policy` header indicates that in a window of 60 seconds 120 tokens\n(or \"quota units\") will be added to the bucket.\n\nThe headers are inspired by the format in [RateLimit header fields for HTTP](https://www.ietf.org/archive/id/draft-ietf-httpapi-ratelimit-headers-07.html) Internet-Draft.\n\n##### What is rate-limited in V2\n\nAll endpoints are rate-limited with the leaky bucket rate limiter and the defaults.\nHowever, it is planned for future endpoints to have higher or lower limits depending\non usage and the capacity of the API.\n\n##### Using the leaky bucket effectively\n\nThere are a number of strategies you can use to take advantage of rate limiting.\n\n- When receiving a 429 you can use the `retry-after` header to check when the next\n  request can be made, then schedule a request to trigger at that time.\n- You can implement a queue that only sends out requests at the rate indicated\n  in the policy. You can calculate the rate of requests using the\n  `X-Ratelimit-Policy` 120 ÷ 60 = 0.5, so the queue should send requests out at a \n  rate of once every 500 milliseconds. \n- Some combination of the two, for example, allow requests to trigger at any rate,\n  start queuing after the first 429, then turn off the queue after no new requests\n  are sent and the `X-Ratelimit-Reset` time has been met.\n\n"
    },
    {
      "name": "Catalog v2",
      "description": "## What is a catalog product?\nA catalog product refers to a blank product and its variants. Each variant can be used as the base for custom designs. Catalog product consists of multiple catalog variants each of which might be a combination of size and color or it might be a variation with e.g. tear away label. The entire hierarchy is shown in the diagram below:\n\n[<img src=\"images/catalog/catalog_product_diagram.png#center\" width=\"300\"/>](images/catalog/catalog_product_diagram.png)\n\n## What is a catalog variant?\nCatalog variant might be a combination of size and color associated with the catalog product or additional variation of a product with certain features like tear away label. It can be thought of as an actual physical blank product. For example T-shirt Bella Canvas 3001 in White color and size M is considered to be a single variant. Catalog variants can have different availability as different regions could have different stock of some product colors and sizes.\n\n[<img src=\"images/catalog/catalog_variant_diagram.png#center\" width=\"300\"/>](images/catalog/catalog_variant_diagram.png)\n\nPrintful has a substantial catalog of blank Products and Variants. A Product can describe a specific type, model and manufacturer of the item, while the Variant specifies the more detailed attributes of the product like the exact size/color of a \nT-shirt or the dimensions of a poster. Moreover, each item in the Printful Catalog has a unique Variant ID. When managing Sync Products or orders, you will need to specify the Variant ID of the specific blank item, hence you can use this API resource \nto find the needed Variant ID.\n\n<div class=\"alert alert-info\">\nIt is critically important to always refer to the Variant IDs (<strong>NOT Product IDs</strong>) when creating products or orders. Mixing up and using the Product ID instead of the Variant ID can lead to an entirely different product created or item ordered. \nThe Product entity is only meant to allow of easier browsing of what Printful offers.\n</div>\n\nYou can also use this API resource to find out the types of print files. A product can be configured for as well as the\nadditional price each print file would cost (e.g. the back print or inside label print for T-shirts). Moreover, some\nproduct types allow for additional options (e.g. embroidery type and thread colors) – these options are listed in the\nresponses as well.\n\n**Important**: Jewelry products are not supported via API.\n\n**Rate limiting**: Up to 120 requests per 60 seconds. A 60 seconds lockout is applied if\nrequest count is exceeded.\n\n## Catalog general information\n### General introduction\n\nThis resource contains the list of all the products that are available in Printful for purchase and fulfillment. Apart from basic product data and availability it also contains the information about:\n* [Product Prices](#operation/getProductPricesById)\n* [Product Size Guides](#operation/getProductSizeGuideById)\n* [Product Images](#operation/getProductImagesById)\n\n[<img src=\"images/catalog/catalog_diagram.png#center\" width=\"500\"/>](images/catalog/catalog_diagram.png)\n\n### Filtering options\n\nFilters can be used to search for particular set of products based on the provided values. Multiple filters can be used at the same time.\n\n| Filtering option name | Description                                                    | Where to find                                                              |\n|-----------------------|----------------------------------------------------------------|----------------------------------------------------------------------------|\n| colors                | Filters products by variants containing specified colors       | `data[].color` [Catalog variants](#operation/getProductVariantsById)       |\n| new                   | Filters products that are new                                  | -                                                                          |\n| placements            | Filters products by available placements specified in the list | `data[].placements[].placement` [Catalog products](#operation/getProducts) |\n| category_ids          | Filters products by specified product categories               | `data[].id` [Catalog categories](#operation/getCategories)                 |\n| techniques            | Filters products by specified techniques                       | `data[].techniques[].key` [Catalog products](#operation/getProducts)       |\n| types                 | Filters products by specified types of product e.g. T-Shirt.   | `data[].type` [Catalog products](#operation/getProducts)                   |\n\n### Sorting\n\nRequires providing two parameters in the URL: `sort_type`\nAnd `sort_direction`. Sort type determines a type of sorting that will be used e.g. sort by price and the sort direction determines if the result should be sorted ascending or descending.\nOnly one sort type can be used at a time.\n\n| Sorting option name | Description                                             |\n|---------------------|---------------------------------------------------------|\n| new                 | Sorts resulting catalog products starting with new ones |\n| rating              | Sorts resulting catalog products by their user-rating   |\n| price               | Sorts resulting catalog products by their base price    |\n\n### DSR\n\n* **What is DSR?** – DSR (Default Selling Region) is an option that lets you limit the results of a product catalog to products that could be shipped within a specified region. When choosing Worldwide, we'll display the entire Product Catalog. Delivery times depend on end-customer location and selected product.\n* **Where DSR can be set and how it affects response?** – DSR can be currently set in [Catalog products](#operation/getProducts) and [Product Prices](#operation/getProductPricesById).\n* **Available DSRs**\n\n| Region name              | Region name value          |\n|--------------------------|----------------------------|\n| Worldwide                | `worldwide`                |\n| North America            | `north_america`            |\n| Canada                   | `canada`                   |\n| Europe                   | `europe`                   |\n| Spain                    | `spain`                    |\n| Latvia                   | `latvia`                   |\n| United Kingdom           | `uk`                       |\n| France                   | `france`                   |\n| Australia                | `australia`                |\n| Japan                    | `japan`                    |\n| New Zealand              | `new_zealand`              |\n| Italy                    | `italy`                    |\n| Brazil                   | `brazil`                   |\n| Southeast Asia           | `southeast_asia`           |\n| Republic of Korea        | `republic_of_korea`        |\n| English speaking regions | `english_speaking_regions` |\n\n### Size guides\n\n[<img src=\"images/catalog/size_guides_diagram.png#center\" width=\"600\"/>](images/catalog/size_guides_diagram.png)\n\n[Get Product Size Guide](#operation/getProductSizeGuideById) endpoint will return size guides for the specified product.\n\nThere are three types of size tables available, as described by the following table:\n\n| Table type                    | API name           | Description                                                                                 |\n|-------------------------------|--------------------|---------------------------------------------------------------------------------------------|\n| Measure yourself              | `measure_yourself` | Measurements of the product to measure the body provided by the supplier.                   |\n| Product measurements          | `product_measure`  | Measurements of the product provided by the supplier.                                       |\n| International size conversion | `international`    | International size conversion – e.g. US, EU or UK sizes corresponding to the product sizes. |\n\nNot each table type might be available for the selected product.\n\n[See examples](#section/Catalog-API-examples/Using-size-guides)\n\n## Categories\n\nCatalog categories are used to group products with similar characteristics such as t-shirts, hats etc.\n\nCategories have purely informational purposes and cannot be edited by the customers. Categories can be nested e.g.\n* Men’s clothing\n  * All shirts\n    * T-Shirts\n    * Polo shirts\n  * Jackets & vests\n\nApart from display purposes they can be also used for filtering the products in the API [see Filtering options](#filtering-options)"
    },
    {
      "name": "Sync v2",
      "description": "Sync v2"
    },
    {
      "name": "Orders v2",
      "description": "## Order Building\n\nYou can create a draft order without order items but you won’t be able to confirm it until at least one order item are added to that order.\nWith this approach, you can create a draft order with all necessary recipient data and add items to it as you go (similar to a shopping cart)\nby using [Create Order Item](#operation/createItemByOrderId). After every order item addition, the order cost will be re-calculated.\n\nA minimal DRAFT order can be created with just the address:\n\n```\nPOST https://api.printful.com/v2/orders\nAuthorization: Bearer {{bearer_token}}\n{\n  \"recipient\": {\n    \"address1\": \"19749 Dearborn St\",\n    \"city\": \"Chatsworth\",\n    \"state_code\": \"CA\",\n    \"state_name\": \"California\",\n    \"country_code\": \"US\",\n    \"country_name\": \"United States\",\n    \"zip\": \"91311\"\n  }\n}\n```\n\nAfter the order is created the order items can be added one by one.\n\n```\nPOST https://api.printful.com/v2/orders/{{order_id}}/order-items\nAuthorization: Bearer {{bearer_token}}\n{\n    \"catalog_variant_id\": 4011,\n    \"source\": \"catalog\",\n    \"quantity\": 1,\n    \"placements\": [\n        {\n            \"placement\": \"front\",\n            \"technique\": \"dtg\",\n            \"layers\": [\n                {\n                    \"type\": \"file\",\n                    \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n                }\n            ]\n        }\n    ]\n}\n```\n\nIt is also possible to create an order with all order items in a single request.\n\n```\nPOST https://api.printful.com/v2/orders\nAuthorization: Bearer {{bearer_token}}\n{\n  \"recipient\": {\n    \"address1\": \"19749 Dearborn St\",\n    \"city\": \"Chatsworth\",\n    \"state_code\": \"CA\",\n    \"state_name\": \"California\",\n    \"country_code\": \"US\",\n    \"country_name\": \"United States\",\n    \"zip\": \"91311\"\n  },\n  \"order_items\": [\n    {\n      \"catalog_variant_id\": 4011,\n      \"source\": \"catalog\",\n      \"quantity\": 1,\n      \"placements\": [\n        {\n          \"placement\": \"front\",\n          \"technique\": \"dtg\",\n          \"layers\": [\n            {\n              \"type\": \"file\",\n              \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n```\n\n## Order life cycle and statuses\n\n<table>\n    <tr>\n        <td><strong>draft</strong></td>\n        <td>At this stage, the order has been created but has not yet been submitted for fulfillment. It can be freely edited, changed, or deleted at this stage. The order will not charged or fulfilled until it has been confirmed.</td>\n    </tr>\n    <tr>\n        <td><strong>pending</strong></td>\n    <td>The order has been submitted for fulfillment and it will be charged in this stage, but is not yet accepted for fulfillment. The order can be cancelled at this stage so long as it has not been charged yet.</td>\n    </tr>\n    <tr>\n        <td><strong>failed</strong></td>\n        <td>Order was submitted for fulfillment but it had some errors preventing it from being fulfilled (problem with the address, missing printfiles, failed to charge the wallet, etc.).</td>\n    </tr>\n    <tr>\n        <td><strong>canceled</strong></td>\n        <td>The order has been canceled and can no longer be processed. If the order was already charged then the cost of the order will be returned to your store.</td>\n    </tr>\n    <tr>\n        <td><strong>inprocess</strong></td>\n        <td>The order is being fulfilled and can no longer be canceled or modified. Contact customer support if there are any issues with the order at this point.</td>\n    </tr>\n    <tr>\n        <td><strong>onhold</strong></td>\n        <td>The order has encountered a problem during the fulfillment that needs to be resolved together with Printful customer service before fulfillment can continue.</td>\n    </tr>\n    <tr>\n        <td><strong>partial</strong></td>\n        <td>The order is partially fulfilled (some items are shipped already, the rest will follow).</td>\n    </tr>\n    <tr>\n        <td><strong>fulfilled</strong></td>\n        <td>All items have been shipped successfully.</td>\n    </tr>\n</table>\n\nYou are only charged for orders when they have been confirmed with the “Confirm Order” operation and have the status “pending” [Confirm Order](#operation/confirmOrder).\nIf the order encounters a problem after it has been confirmed, then it is moved to the failed state so that the problem can be fixed and the order can be resubmitted.\n\nFor order status updates please subscribe to one of the webhook events following\nwebhook events:\n- [Order created](#tag/Webhook-v2/operation/orderCreated)\n- [Order updated](#tag/Webhook-v2/operation/orderUpdated)\n- [Order failed](#tag/Webhook-v2/operation/orderFailed)\n- [Order canceled](#tag/Webhook-v2/operation/orderCanceled)\n\n## Order items\n\nOrder items are representations of the actual products that will come with an order.\n\nIn the sections below we explain each order item source and provide examples of how a simple request might look like for each source.\n\n### Catalog Source\n\n[Catalog products](https://developers.printful.com/docs/v2-beta/#tag/Catalog-v2/What-is-a-catalog-product) are blank products available in Printful. Since they are blank you’ll need to specify design data during the order creation.\nThis flow is intended if you allow your customers to specify their own designs which means that every order is unique.\n\nTo sell pre-defined products (Sync products) refer to [Sync variant](#sync-source).\n\nThe following example request shows how an item structure might look in JSON.\n\n```\nPOST https://api.printful.com/v2/orders/{{order_id}}/order-items\nAuthorization: Bearer {{bearer_token}}\n{\n    \"catalog_variant_id\": 4012,\n    \"source\": \"catalog\",\n    \"quantity\": 1,\n    \"placements\": [\n        {\n            \"placement\": \"front\",\n            \"technique\": \"dtg\",\n            \"layers\": [\n                {\n                    \"type\": \"file\",\n                    \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n                }\n            ]\n        }\n    ]\n}\n```\n<img src=\"images/mockups/example_order_item_mockup.jpg#center\" width=\"300\" href=\"images/mockups/example_order_item_mockup.png\"/>\n\n### Sync Source\n\nIn contrast to the catalog source, the sync source uses sync variants which \nalready hold information about design and retail costs. More information about \nthe sync variants can be found at [Sync V2](#tag/Sync-v2).\n\nThis means that you don’t need to specify all of the data that would otherwise \nbe required when using the [catalog source](#catalog-source). \nTo order a sync variant you just need to specify the `sync_variant_id`, quantity\nand source properties.\n```\nPOST https://api.printful.com/v2/orders/{{order_id}}/order-items\nAuthorization: Bearer {{bearer_token}}\n{\n\t\"source\": \"sync\",\n\t\"sync_variant_id\": {{sync_variant_id}},\n\t\"quantity\": 1\n}\n```\n\n<div class=\"alert alert-info\">\n  <b>Note</b> When an order item is created from the sync source the fulfilled\n  item will have the design of the sync variant at the time the order item was\n  created. If the design of the sync variant is changed after the order item is\n  created those changes won’t be reflected in the order order unless the item is\n  created again.\n</div>\n\n## Design specification\nDesign data is the information used to customize the product. A design consists\nof placements, layers and unique product options. Placements refer to where a \ndesign will be printed, for example, a T-Shirt might have the placements `front` \nand `left_sleeve`. Placements can also constrict what techniques can be used in \nthat area of the product, for example a product might have both `front` and \n`embroidery_front` and embroidery can only be used in the second placement.\nA layer is constrained to the print area of the placement that you’ve chosen. \nA design that is outside of the print area won’t be visible.\n\nDepending on the product, placement, and technique different layers might \nbe available. \n\nYou can check which layers are available using the [Retrieve a single catalog product](#tag/Catalog-v2/operation/getProductById)\noperation.\n\nThe design data structure is the same regardless of the flow (making orders,\ncreating sync products etc.). So the solution can be re-used in the different\nendpoints.\n\n[<img src=\"images/design-data/design-data.png#center\" width=\"600\"/>](images/design-data/design-data.png)\n\n### Placements\nThe product placement is the part of the product where design layers will be \nprinted, different placements will also offer different options and techniques, \nthey will also have different limitations. The available placement list will \nvary depending on the product. To get the available placements of a product use \nthe [Retrieve a single catalog product](#tag/Catalog-v2/operation/getProductById) \nendpoint with the product ID that you want to check.\n\n<figure style=\"display: flex; flex-direction: column; align-items: center;\">\n    <figcaption>Front placement:</figcaption>\n    <img src=\"images/design-data/placements/front.png\" width=\"300\" href=\"images/design-data/placements/front.png\"/>\n</figure>\n<figure style=\"display: flex; flex-direction: column; align-items: center;\">\n    <figcaption>Left sleeve placement:</figcaption>\n    <img src=\"images/design-data/placements/left_sleeve.png\" width=\"300\" href=\"images/design-data/placements/left_sleeve.png\"/>\n</figure>\n\n<div class=\"alert alert-info\">\n  <b>Note</b> depending on the type and quantity of the placement additional fees might apply.\n</div>\n\n### Layers\nLayers are what is printed in each placement, and there can be up to 5 of them \nper one placement. The layers are printed on top of each other with the 0th \nlayer being the furthest back and the 4th element being on top of all other layers.\n\nAPI supports only one layer type - `file`.\n\n[<img src=\"images/design-data/layers/layer_diagram.png#center\" width=\"600\"/>](images/design-data/layers/layer_diagram.png)\n\nLayers are defined as an array per placement:\n```\n...\n  \"layers\": [\n    {\n      \"type\": \"file\",\n      \"url\": \"https://picsum.photos/200\",\n      \"layer_options\": [\n        {\n          \"name\": \"thread_colors\",\n          \"value\": [\n            \"#FFFFFF\"\n          ]\n        }\n      ],\n      \"position\": {\n        \"width\": 640,\n        \"height\": 640,\n        \"left\": 0,\n        \"top\": 0\n      }\n    }\n  ]\n...\n```\n\n#### Layer Positioning\nYou can specify the image position inside the print area by providing a position object.\n\nEach print area has specific dimensions, by default our system will assume that your file \nhas to fit into those limitations and not exceed them. The (0,0) point is always \nlocated in the top left corner of the print area.\n\n<div class=\"alert alert-info\">\n  <b>Note</b> all values are in inches.\n</div>\n\n#### Example of positioning the 450x450 image on the front placement\n\n<table>\n  <tr>\n    <td> Position </td> \n    <td> Mockup </td>\n    <td> Payload </td>\n  </tr>\n  <tr>\n<td> Top left </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/top_left.png\" width=\"300\"/> </td>\n<td>\n\n```\n  \"position\": {\n    \"area_width\": 1800,\n    \"area_height\": 2400,\n    \"width\": 450,\n    \"height\": 450,\n    \"top\": 0,\n    \"left\": 0\n  }\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Top middle </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/top_middle.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 0,\n  \"left\": 675\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Top right </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/top_right.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 0,\n  \"left\": 1350\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Middle </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/middle.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 975,\n  \"left\": 675\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Bottom left </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/bottom_left.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 1950,\n  \"left\": 0\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Bottom middle </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/bottom_middle.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 1950,\n  \"left\": 675\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Bottom right </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/bottom_right.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 1950,\n  \"left\": 1350\n}\n```\n\n</td>\n</tr>\n\n</table>\n\n### Options\nApart from placement and layers you can also specify options.\n```\n# Example of option data.\n{\n  \"name\": \"unlimited_color\",\n  \"value\": true\n}\n```\nOption always consist of the name of the option and the value. Value of the \noption can be different depending on the option type but they are always \npredefined for the specified product. You can always check what options and \nwhat values are available for a specific product by checking\n[Retrieve a single catalog product](#tag/Catalog-v2/operation/getProductById)\n\nOptions can be specified on three levels:\n- Product options - Those options specify additional design options for an \nentire product. E.g. `inside_pocket` allows you to define if a product should be \nfulfilled with an additional inside pocket. Or `stitch_color` lets you choose the \nstitch colors that will be used to stitch back All-Over print products.\n- Placement options - They specify options for an entire placement. Currently, \nthe only placement option is `unlimited_color` which if specified causes the \nplacement to be fulfilled using [Unlimited Color embroidery](https://www.printful.com/unlimited-color-embroidery)\n- Layer options - Specify additional parameters for a single layer. E.g. `3d_puff` \noption if set to true causes that particular layer to use [3D puff embroidery](https://www.printful.com/glossary/3d-puff-embroidery).\n\n## Order Customization\n### Packing Slip Customization\n\nThe packing slip information can be customized according to the store’s specific\nrequirements. Some of the options are: a custom logo, the name of the store,\ncustomer service email/phone, and more.\n\nThe packing slip fields can be configured at the store level (in the Dashboard \nat Settings > Stores > Branding > Packing slip section.) and overridden for a \nspecific order.\n\nTo override the packing slip settings for the order, you can use `packing_slip` \nfields for each order.\n\n```\nPOST https://api.printful.com/v2/orders\nAuthorization: Bearer {{bearer_token}}\n{\n    \"recipient\": {\n        \"address1\": \"19749 Dearborn St\",\n        \"city\": \"Chatsworth\",\n        \"state_code\": \"CA\",\n        \"state_name\": \"California\",\n        \"country_code\": \"US\",\n        \"zip\": \"91311\"\n    },\n    \"customization\": {\n        \"packing_slip\": {\n            \"email\": \"test@example.com\",\n            \"phone\": \"+48000000000\",\n            \"message\": \"this is a message\",\n            \"logo_url\": \"https://example.com/image.jpg\",\n            \"store_name\": \"a store\"\n        }\n    }\n}\n```\n\nBelow you can find an example or a packing slip for a shipment with explained fields.\n\n![packing slip](images/sample_packing_slip.png)\n\nField annotations:\n\n* **(1)** Barcode unique for the shipment.\n* **(2)** Store logo defined in the store settings or overridded using `packing_slip.logo_url` field.\n* **(3)** The date of the shipment.\n* **(4)** Packing slip number consisting of order and shipment IDs in Printful database, divided with a hyphen.\n* **(5)** The country from which the shipment is made. If the recipient is in the United States, this field will be\n  absent.\n* **(6)** Recipient address with phone, without email address.\n* **(7)** Store name. This can be overridden using `packing_slip.store_name`.\n* **(8)** The address to which the shipment should be returned. By default it will be a Printful’s return address, but\n  you can set your own address in the store settings (**Settings > Stores > Returns > Return address section**).\n* **(9)** The customer service phone number defined in the store settings or overridden using `packing_slip.phone`\n  field.\n* **(10)** The customer service email address defined in the store settings or overridden using `packing_slip.email`\n  field.\n* **(11)** Gift message. This is only present if the `gift` field was provided in the order request.\n* **(12)** The order creation date.\n* **(13)** Printful Order ID which can be overridden using `packing_slip.custom_order_id` field.\n* **(14)** The list of order items with quantities. The items’ display names are localized, using the recipient’s\n  country and include variant information such as color and size e.g. „Unisex Staple T-Shirt | Bella + Canvas 3001 (\n  Lilac / M)”.\n* **(15)** The packing slip message defined in the store settings or overridden using `packing_slip.message` field.\n\n### Gift\nThe order gift option is part of the order customization and contains two properties:\nsubject and message. This option allows users to add a custom note that will be seen \nby the final customer who receives the product.\n\n```\nPOST https://api.printful.com/v2/orders\nAuthorization: Bearer {{bearer_token}}\n{\n    \"recipient\": {\n        \"address1\": \"19749 Dearborn St\",\n        \"city\": \"Chatsworth\",\n        \"state_code\": \"CA\",\n        \"state_name\": \"California\",\n        \"country_code\": \"US\",\n        \"zip\": \"91311\"\n    },\n    \"customization\": {\n        \"gift\": {\n            \"subject\": \"To John\",\n            \"message\": \"Happy birthday!\"\n        }\n    }\n}\n```\n\n## Notes for Beta\n\nThe Orders endpoints for the V2 Beta are incomplete. Some V1 endpoints will\nstill need to be used to achieve certain functionality.\n\n- To cancel an order use `DELETE https://api.printful.com/orders/{order_id}`\n  https://developers.printful.com/docs/#operation/cancelOrderById\n- Incomplete, or unsynced, items that were created via an integration store but\n  haven't been synced with printful yet will not be visible via the V2 orders\n  endpoints, if you need this functionality you will need to use V1\n  https://developers.printful.com/docs/#tag/Orders-API\n- To update an existing order, use `PUT https://api.printful.com/orders/{order_id}`\n  https://developers.printful.com/docs/#operation/updateOrderById\n\n## Order Cost Calculations\n\n**Order costs are calculated asynchronously**. This means when you create or \nupdate an order you are likely to see a response from the API with `costs` and \n`retail_costs` fields set to null and `\"calculation_status\": \"calculating\"`.\n\n```\n\"costs\": {\n  \"calculation_status\": \"calculating\",\n  \"currency\": null,\n  \"subtotal\": null,\n  \"discount\": null,\n  \"shipping\": null,\n  \"digitization\": null,\n  \"additional_fee\": null,\n  \"fulfillment_fee\": null,\n  \"retail_delivery_fee\": null,\n  \"tax\": null,\n  \"vat\": null,\n  \"total\": null\n},\n\"retail_costs\": {\n  \"calculation_status\": \"calculating\",\n  \"currency\": \"USD\",\n  \"subtotal\": \"0.00\",\n  \"discount\": \"1.00\",\n  \"shipping\": \"0.00\",\n  \"tax\": \"0.00\",\n  \"vat\": \"0.00\",\n  \"total\": null\n},\n```\n\nOnce the costs and retail costs are calculated the \"calculation_status\" will \nchange the status to \"done\"\n\n```\n\"costs\": {\n  \"calculation_status\": \"done\",\n  \"currency\": \"USD\",\n  \"subtotal\": \"107.50\",\n  \"discount\": \"0.00\",\n  \"shipping\": \"14.84\",\n  \"digitization\": \"0.00\",\n  \"additional_fee\": \"0.00\",\n  \"fulfillment_fee\": \"0.00\",\n  \"retail_delivery_fee\": \"0.00\",\n  \"tax\": \"11.20\",\n  \"vat\": \"0.00\",\n  \"total\": \"133.54\"\n},\n\"retail_costs\": {\n  \"calculation_status\": \"done\",\n  \"currency\": \"USD\",\n  \"subtotal\": \"0.00\",\n  \"discount\": \"1.00\",\n  \"shipping\": \"0.00\",\n  \"tax\": \"0.00\",\n  \"vat\": \"0.00\",\n  \"total\": \"134.54\"\n},\n```\n\nIf you are subscribed to the `order_updated` [webhook event](#tag/Webhook-v2/operation/orderUpdated), \nyou will receive an event when the calculation is finished. \n\n"
    },
    {
      "name": "Mockup Generator v2",
      "description": "This resource is used to visualize how the designed products will look like. Since this is a resource-heavy operation we process the requests asynchronously. That means that you won't get the results\nimmediately, and instead you will get task ID which you could use to retrieve the mockups once they are done\nusing _[Retrieve mockup generator tasks](#operation/getMockupGeneratorTasks)_.\nYou can also subscribe to a webhook _[Mockup generator task finished event](#operation/mockupTaskFinished)_ to be\nnotified once the tasks finish processing.\n\nTo create a mockup you need to specify:\n* catalog product ID – _[Retrieve a list of catalog products](#operation/getProducts)_\n* catalog variant IDs – _[Retrieve information about catalog product variants](#operation/getProductVariantsById)_\n* design data – Data used to specify how the design should look like on the catalog product\n* mockup styles – _[Retrieve catalog product mockup styles](#operation/retrieveMockupStylesByProductId)_\n\nWhile `placements` specifies how the catalog product should look like, the `mockup_style_ids` define\nhow the mockups themselves should look like. You can find available mockup styles for a product by requesting\n_[Retrieve catalog product mockup styles](#operation/retrieveMockupStylesByProductId)_.\n\nTo give a little bit more context on how to use product mockup styles see the table below:\n\nThe example product is Bella Canvas 3001 with ID 71.\n\n\n<table>\n    <tr>\n        <td> Mockup styles </td> \n        <td> Mockups </td>\n    </tr>\n    <tr>\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 1115,\n        \"style_name\": \"Men's\",\n        \"view_name\": \"Front\"\n    }\n```\n\n</td>\n<td> <img alt=\"Men's front mockup\" src=\"images/mockup-styles/mens_front.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 1103,\n        \"style_name\": \"Men's\",\n        \"view_name\": \"Left sleeve\"\n    }\n```\n\n</td>\n<td> <img alt=\"Men's left sleeve mockup\" src=\"images/mockup-styles/mens_left.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 1117,\n        \"style_name\": \"Women's\",\n        \"view_name\": \"Front\"\n    }\n```\n\n</td>\n<td> <img alt=\"Women's front mockup\" src=\"images/mockup-styles/womens_front.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 1107,\n        \"style_name\": \"Women's\",\n        \"view_name\": \"Left sleeve\"\n    }\n```\n\n</td>\n<td> <img alt=\"Women's left sleeve mockup\" src=\"images/mockup-styles/womens_left.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 768,\n        \"style_name\": \"Women's Lifestyle\",\n        \"view_name\": \"Front\"\n    }\n```\n\n</td>\n<td> <img alt=\"Women's lifestyle front mockup\" src=\"images/mockup-styles/womens_lifestyle_front.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 770,\n        \"style_name\": \"Women's Lifestyle\",\n        \"view_name\": \"Left\"\n    }\n```\n\n</td>\n<td> <img alt=\"Women's lifestyle left mockup\" src=\"images/mockup-styles/womens_lifestyle_left.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 849,\n        \"style_name\": \"Flat\",\n        \"view_name\": \"Front\"\n    }\n```\n\n</td>\n<td> <img alt=\"Flat front mockup\" src=\"images/mockup-styles/flat_front.png\" width=\"300\"/> </td>\n</tr>\n\n<tr>\n<td>\n\n```\n    {\n        \"style_id\": 931,\n        \"style_name\": \"On hanger\",\n        \"view_name\": \"Front\"\n    }\n```\n\n</td>\n<td> <img alt=\"On hanger front mockup\" src=\"images/mockup-styles/on_hanger_front.png\" width=\"300\"/> </td>\n</tr>\n</table>\n\n## Mockups from the product templates\n\nInstead of creating a mockups from catalog variants data you can generate them from a product template.\nIn that case all you need is:\n* product template ID\n* catalog variant IDs – _[Retrieve information about catalog product variants](#operation/getProductVariantsById)_\n* mockup styles – _[Retrieve catalog product mockup styles](#operation/retrieveMockupStylesByProductId)_\n\n**Important**: All the catalog variants specified in the request must also be defined in the product template,\notherwise an error will be returned.\n\n## Mockups from the sync variants\n\nCreating mockups from sync variants is also possible. \nIn that case you need to specify:\n* catalog product ID – _[Retrieve a list of catalog products](#operation/getProducts)_\n* sync variant IDs – _[Retrieve information about catalog product variants](#operation/getSyncProductVariants)_\n* mockup styles – _[Retrieve catalog product mockup styles](#operation/retrieveMockupStylesByProductId)_\n\n**Important**: All the sync variants must belong to the same catalog product. They also need to have the same design, otherwise\nyou will receive an error, and you would need to create a separate request for each sync variant that contains a different design.\n\n## Throttling and daily file limit\n\nAn account is allowed to make a number of mockup generation requests per minute. The limit is:\n\n* 2 requests per minute for new stores;\n* 10 requests per minute for stores with at least $10.00 worth of fulfilled orders.\n\nAdditionally, there is a limit of 20,000 files that can be generated daily by each environment.\n\n## Number of generated files\n\nThere will be one mockup file returned for each valid combination of Catalog Variant, mockup style and placement within\none product object.\n\nIf the same file would be generated for two or more combinations (for example, for different sizes of a T-Shirt in the\nsame color),\nit will only be generated once and the same URL will be returned for each of these combinations. If only one file is generated it will count\nas one file toward the daily limit."
    },
    {
      "name": "Webhook v2",
      "description": "Webhooks are an API feature that allows your system to receive notifications about certain events.\n\nWhen an event occurs, for example one of the products you use comes back in stock, the Printful server\nwill make a POST request to your defined\nURL that will contain a JSON object in the request body.\nYour server has to respond with HTTP status `200 OK`,\notherwise, the request will be retried in increasing intervals\n(after 1, 4, 16, 64, 256 and 1024 minutes).\n\nThe JSON object will always contain these attributes:\n<table>\n    <tr>\n        <td><strong>type</strong></td>\n        <td>string</td>\n        <td>Event type</td>\n    </tr>\n    <tr>\n        <td><strong>occurred_at</strong></td>\n        <td>timestamp</td>\n        <td>Event time</td>\n    </tr>\n    <tr>\n        <td><strong>retries</strong></td>\n        <td>integer</td>\n        <td>Number of previous attempts to deliver this webhook event</td>\n    </tr>\n    <tr>\n        <td><strong>store_id</strong></td>\n        <td>integer</td>\n        <td>ID of the store that the event occurred to</td>\n    </tr>\n    <tr>\n        <td><strong>data</strong></td>\n        <td>Object</td>\n        <td>Additional data, depending on the event type</td>\n    </tr>\n</table>\n\nCurrently, our [Webhook Simulator](https://www.printful.com/api/webhook-simulator) doesn't support the v2 webhooks.\n\n### Event signing\n\nSince the webhook URL used to accept the events needs to be publicly availably, it's important to be able to\nverify if the event originates from our servers or was sent by someone else who knows the URL.\n\nThat's why we introduced event signing in Webhook v2.\n\nWebhook settings are associated with a public and a secret key. The public key is used to identify the specific\nsettings (you may use the same URL for different configurations) and the secret key is used to generate\nand verify the event signature.\n\nWe're using HMAC-SHA256 hash to create the signature. For tests, you may find an online or offline tool\nand check if you get the same hash for the event data you receive and the configuration's secret key.\n\nFor actual usage, we strongly recommend to incorporate the signature verification in the event handling process.\n\nIf you find that you receive an event with invalid or missing signature, you should ignore the event.\n\nYou may investigate the situation, starting with verifying if your configuration is correct.\nIt's possible you used wrong secret key to generate the signature on your side or generated it for the formatted\nevent content instead of the raw content etc.\n\nIf you didn't find an explanation, you may contact us with the event details (content, your URL, event time)\nso we can check if we sent such an event and find out why the signature is invalid.\n\n### Expiration time\n\nIt's possible to specify the expiration time of the configuration. If you decide to use this option,\nyou will be forced to resubscribe which will generate a new key pair. You may simply send the GET request\nwhen the configuration is still valid and use the returned data to create the new configuration.\n\nIf the configuration is already expired and you don't have the data saved somewhere, a regular GET request\nwill result in a 404 Not Found response with a message explaining what needs to be done:\n\"The settings are expired. To view them, please use query param show_expired with value true.\"\n\nYou may then use `show_expired` param with value `true` to retrieve the configuration and use it to resubscribe.\n\nPlease note that once the new configuration is saved, the new secret key will be used to sign the events.\nIt needs to be updated in your code as soon as possible to avoid invalid signature warnings."
    },
    {
      "name": "Examples",
      "description": "# Catalog API examples\n\n## Using size guides\n\nIn this example, we'll fetch the size guides for the\n\"Women's Basic Organic T-Shirt | SOL'S 02077\" product (ID: 561).\n\nWe use the default `en_US` locale and don't provide the `unit` parameter, so the measurement values will be returned in\ninches.\n\nURL: https://api.printful.com/v2/catalog-products/561/sizes\n\n<details>\n    <summary>Whole response body</summary>\n\n```javascript\n{\n  \"data\": {\n    \"product_id\": 561,\n    \"available_sizes\": [\n      \"S\",\n      \"M\",\n      \"L\",\n      \"XL\",\n      \"2XL\"\n    ],\n    \"size_tables\": [\n      {\n        \"type\": \"measure_yourself\",\n        \"unit\": \"inches\",\n        \"description\": \"<p>Measurements are provided by suppliers.<br /><br />US customers should order a size up as the EU sizes for this supplier correspond to a smaller size in the US market.</p>\\n<p>Product measurements may vary by up to 2\\\" (5 cm).&nbsp;</p>\",\n        \"image_url\": \"https://s3.staging.printful.com/upload/measure-yourself/6a/6a4fe322f592f2b91d5a735d7ff8d1c0_t?v=1652962720\",\n        \"image_description\": \"<h6><strong>A Length</strong></h6>\\n<p dir=\\\"ltr\\\"><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">Place the end of the tape beside the collar at the top of the tee (Highest Point Shoulder). Pull the tape measure t</span><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">o the bottom of the shirt.</span></p>\\n<h6>B Chest</h6>\\n<p dir=\\\"ltr\\\">Measure yourself around the fullest part of your chest. Keep the tape measure horizontal.</p>\",\n        \"measurements\": [\n          {\n            \"type_label\": \"Length\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"value\": \"25.2\"\n              },\n              {\n                \"size\": \"M\",\n                \"value\": \"26\"\n              },\n              {\n                \"size\": \"L\",\n                \"value\": \"26.7\"\n              },\n              {\n                \"size\": \"XL\",\n                \"value\": \"27.6\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"value\": \"28.3\"\n              }\n            ]\n          },\n          {\n            \"type_label\": \"Chest\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"min_value\": \"34\",\n                \"max_value\": \"37\"\n              },\n              {\n                \"size\": \"M\",\n                \"min_value\": \"36\",\n                \"max_value\": \"39\"\n              },\n              {\n                \"size\": \"L\",\n                \"min_value\": \"39\",\n                \"max_value\": \"42\"\n              },\n              {\n                \"size\": \"XL\",\n                \"min_value\": \"41\",\n                \"max_value\": \"44\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"min_value\": \"43\",\n                \"max_value\": \"46\"\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"type\": \"product_measure\",\n        \"unit\": \"inches\",\n        \"description\": \"<p dir=\\\"ltr\\\">Measurements are provided by our suppliers. Product measurements may vary by up to 2\\\" (5 cm).</p>\\n<p dir=\\\"ltr\\\">US customers should order a size up as the EU sizes for this supplier correspond to a smaller size in the US market.</p>\\n<p dir=\\\"ltr\\\">Pro tip! Measure one of your products at home and compare with the measurements you see in this guide.</p>\",\n        \"image_url\": \"https://s3.staging.printful.com/upload/product-measure/85/857e7cc8b802da216e7f1a6114075a72_t?v=1652962720\",\n        \"image_description\": \"<h6><strong>A Length</strong></h6>\\n<p dir=\\\"ltr\\\"><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">Place the end of the tape beside the collar at the top of the tee (Highest Point Shoulder). Pull the tape measure t</span><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">o the bottom of the shirt.</span></p>\\n<h6>B Width</h6>\\n<p dir=\\\"ltr\\\">Place the end of the tape at the seam under the sleeve and pull the tape measure across the shirt to the seam under the opposite sleeve.</p>\",\n        \"measurements\": [\n          {\n            \"type_label\": \"Length\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"value\": \"25.2\"\n              },\n              {\n                \"size\": \"M\",\n                \"value\": \"26\"\n              },\n              {\n                \"size\": \"L\",\n                \"value\": \"26.7\"\n              },\n              {\n                \"size\": \"XL\",\n                \"value\": \"27.6\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"value\": \"28.3\"\n              }\n            ]\n          },\n          {\n            \"type_label\": \"Width\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"value\": \"16.1\"\n              },\n              {\n                \"size\": \"M\",\n                \"value\": \"17.3\"\n              },\n              {\n                \"size\": \"L\",\n                \"value\": \"18.5\"\n              },\n              {\n                \"size\": \"XL\",\n                \"value\": \"19.7\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"value\": \"20.9\"\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"type\": \"international\",\n        \"unit\": \"none\",\n        \"image_url\": \"https://s3.staging.printful.com/upload/product-measure/85/857e7cc8b802da216e7f1a6114075a72_t?v=1652962720\",\n        \"measurements\": [\n          {\n            \"type_label\": \"US size\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"min_value\": \"6\",\n                \"max_value\": \"8\"\n              },\n              {\n                \"size\": \"M\",\n                \"min_value\": \"10\",\n                \"max_value\": \"12\"\n              },\n              {\n                \"size\": \"L\",\n                \"min_value\": \"14\",\n                \"max_value\": \"16\"\n              },\n              {\n                \"size\": \"XL\",\n                \"min_value\": \"18\",\n                \"max_value\": \"20\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"min_value\": \"22\",\n                \"max_value\": \"24\"\n              }\n            ]\n          },\n          {\n            \"type_label\": \"EU size\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"min_value\": \"36\",\n                \"max_value\": \"38\"\n              },\n              {\n                \"size\": \"M\",\n                \"min_value\": \"40\",\n                \"max_value\": \"42\"\n              },\n              {\n                \"size\": \"L\",\n                \"min_value\": \"44\",\n                \"max_value\": \"46\"\n              },\n              {\n                \"size\": \"XL\",\n                \"min_value\": \"48\",\n                \"max_value\": \"50\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"min_value\": \"52\",\n                \"max_value\": \"54\"\n              }\n            ]\n          },\n          {\n            \"type_label\": \"UK size\",\n            \"values\": [\n              {\n                \"size\": \"S\",\n                \"min_value\": \"10\",\n                \"max_value\": \"12\"\n              },\n              {\n                \"size\": \"M\",\n                \"min_value\": \"14\",\n                \"max_value\": \"16\"\n              },\n              {\n                \"size\": \"L\",\n                \"min_value\": \"18\",\n                \"max_value\": \"20\"\n              },\n              {\n                \"size\": \"XL\",\n                \"min_value\": \"22\",\n                \"max_value\": \"24\"\n              },\n              {\n                \"size\": \"2XL\",\n                \"min_value\": \"26\",\n                \"max_value\": \"28\"\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"_links\": {\n      \"self\": {\n        \"href\": \"https://api.printful.test/v2/catalog-products/561/sizes\"\n      },\n      \"product\": {\n        \"href\": \"https://api.printful.test/v2/catalog-products/561\"\n      }\n    }\n  },\n  \"extra\": [],\n  \"debug\": []\n}\n```\n\n</details>\n\nNow, we'll take a closer look at the objects related to all three types of size tables.\n\n### Measure yourself size table\n\nThis object provides all measurements for the end customers to be able to measure themselves and see what size they\nshould buy.\n\n<details>\n    <summary>The corresponding response fragment</summary>\n\n```javascript\n...\n{\n    \"type\": \"measure_yourself\",\n    \"unit\": \"inches\",\n    \"description\": \"<p>Measurements are provided by suppliers.<br /><br />US customers should order a size up as the EU sizes for this supplier correspond to a smaller size in the US market.</p>\\n<p>Product measurements may vary by up to 2\\\" (5 cm).&nbsp;</p>\",\n    \"image_url\": \"https://s3.staging.printful.com/upload/measure-yourself/6a/6a4fe322f592f2b91d5a735d7ff8d1c0_t?v=1652962720\",\n    \"image_description\": \"<h6><strong>A Length</strong></h6>\\n<p dir=\\\"ltr\\\"><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">Place the end of the tape beside the collar at the top of the tee (Highest Point Shoulder). Pull the tape measure t</span><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">o the bottom of the shirt.</span></p>\\n<h6>B Chest</h6>\\n<p dir=\\\"ltr\\\">Measure yourself around the fullest part of your chest. Keep the tape measure horizontal.</p>\",\n    \"measurements\": [\n        {\n            \"type_label\": \"Length\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"value\": \"25.2\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"value\": \"26\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"value\": \"26.7\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"value\": \"27.6\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"value\": \"28.3\"\n                }\n            ]\n        },\n        {\n            \"type_label\": \"Chest\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"min_value\": \"34\",\n                    \"max_value\": \"37\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"min_value\": \"36\",\n                    \"max_value\": \"39\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"min_value\": \"39\",\n                    \"max_value\": \"42\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"min_value\": \"41\",\n                    \"max_value\": \"44\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"min_value\": \"43\",\n                    \"max_value\": \"46\"\n                }\n            ]\n        }\n    ]\n},\n...\n```\n\n</details>\n\nThe measurement image with the descriptions for the product as seen in the web version of the size guides:\n\n![Image](images/size-guides/my_measurement_image.png)\n\nThe size chart from the web version:\n\n![Image](images/size-guides/my_size_chart.png)\n\n### Product measurements size table\n\nThis object provides all product measurements so the end customer can measure a product they own and see what size they\nshould buy.\n\n<details>\n    <summary>The corresponding response fragment</summary>\n\n```javascript\n...\n{\n    \"type\": \"product_measure\",\n    \"unit\": \"inches\",\n    \"description\": \"<p dir=\\\"ltr\\\">Measurements are provided by our suppliers. Product measurements may vary by up to 2\\\" (5 cm).</p>\\n<p dir=\\\"ltr\\\">US customers should order a size up as the EU sizes for this supplier correspond to a smaller size in the US market.</p>\\n<p dir=\\\"ltr\\\">Pro tip! Measure one of your products at home and compare with the measurements you see in this guide.</p>\",\n    \"image_url\": \"https://s3.staging.printful.com/upload/product-measure/85/857e7cc8b802da216e7f1a6114075a72_t?v=1652962720\",\n    \"image_description\": \"<h6><strong>A Length</strong></h6>\\n<p dir=\\\"ltr\\\"><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">Place the end of the tape beside the collar at the top of the tee (Highest Point Shoulder). Pull the tape measure t</span><span id=\\\"docs-internal-guid-a3ac3082-7fff-5f98-2623-3eb38d5f43a1\\\">o the bottom of the shirt.</span></p>\\n<h6>B Width</h6>\\n<p dir=\\\"ltr\\\">Place the end of the tape at the seam under the sleeve and pull the tape measure across the shirt to the seam under the opposite sleeve.</p>\",\n    \"measurements\": [\n        {\n            \"type_label\": \"Length\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"value\": \"25.2\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"value\": \"26\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"value\": \"26.7\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"value\": \"27.6\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"value\": \"28.3\"\n                }\n            ]\n        },\n        {\n            \"type_label\": \"Width\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"value\": \"16.1\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"value\": \"17.3\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"value\": \"18.5\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"value\": \"19.7\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"value\": \"20.9\"\n                }\n            ]\n        }\n    ]\n},\n...\n```\n\n</details>\n\nThe measurement image with the descriptions for the product as seen in the web version of the size guides:\n\n![Image](images/size-guides/pm_measurement_image.png)\n\nThe size chart from the web version:\n\n![Image](images/size-guides/pm_size_chart.png)\n\n### International size conversion\n\nThis object provides information what international (US, EU, UK) sizes correspond to the product sizes.\n\n<details>\n    <summary>The corresponding response fragment</summary>\n\n```javascript\n...\n{\n    \"type\": \"international\",\n    \"unit\": \"none\",\n    \"measurements\": [\n        {\n            \"type_label\": \"US size\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"min_value\": \"6\",\n                    \"max_value\": \"8\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"min_value\": \"10\",\n                    \"max_value\": \"12\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"min_value\": \"14\",\n                    \"max_value\": \"16\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"min_value\": \"18\",\n                    \"max_value\": \"20\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"min_value\": \"22\",\n                    \"max_value\": \"24\"\n                }\n            ]\n        },\n        {\n            \"type_label\": \"EU size\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"min_value\": \"36\",\n                    \"max_value\": \"38\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"min_value\": \"40\",\n                    \"max_value\": \"42\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"min_value\": \"44\",\n                    \"max_value\": \"46\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"min_value\": \"48\",\n                    \"max_value\": \"50\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"min_value\": \"52\",\n                    \"max_value\": \"54\"\n                }\n            ]\n        },\n        {\n            \"type_label\": \"UK size\",\n            \"values\": [\n                {\n                    \"size\": \"S\",\n                    \"min_value\": \"10\",\n                    \"max_value\": \"12\"\n                },\n                {\n                    \"size\": \"M\",\n                    \"min_value\": \"14\",\n                    \"max_value\": \"16\"\n                },\n                {\n                    \"size\": \"L\",\n                    \"min_value\": \"18\",\n                    \"max_value\": \"20\"\n                },\n                {\n                    \"size\": \"XL\",\n                    \"min_value\": \"22\",\n                    \"max_value\": \"24\"\n                },\n                {\n                    \"size\": \"2XL\",\n                    \"min_value\": \"26\",\n                    \"max_value\": \"28\"\n                }\n            ]\n        }\n    ]\n}\n...\n```\n\n</details>\n\nThe international size conversion table from the web version:\n\n![Image](images/size-guides/international_sizes.png)\n\n# Webhook API examples\n\n## Configuring webhooks\n\n### Enabling webhook support\n\nWe will use an endpoint allowing us to enable webhook support for a store specifying multiple events in one request.\n\nWe want to enable support for `order_put_hold`, `shipment_sent`, `shipment_returned`,\nand `catalog_stock_updated` events.\n\nWe want to receive the event at https://example.org/webhook/store for most events\nbut for `shipment_returned` we want to use https://example.org/webhook/catalog.\n\nYou may replace the URLs with your own. If you don't have a server software that will accept the events,\nyou may use a site like https://webhook.site/.\n\nWe don't want the configuration to expire.\n\nWe want to be notified of stock updates for the following product IDs: 1, 71.\n\nEndpoint: `POST https://api.printful.com/v2/webhooks`\n\nThe request needs to be authorized with a store-level token\nor an account-level token with the store ID specified in `X-PF-Store-ID` header.\n\n<details>\n    <summary>Request body</summary>\n\n```\n{\n    \"default_url\": \"https://example.org/webhook/store\",\n    \"events\": [\n        {\n            \"type\": \"order_put_hold\"\n        },\n        {\n            \"type\": \"shipment_sent\"\n        },\n        {\n            \"type\": \"shipment_returned\",\n            \"url\": \"https://example.org/webhook/catalog\"\n        },\n        {\n            \"type\": \"catalog_stock_updated\",\n            \"params\": [\n                {\n                    \"name\": \"products\",\n                    \"value\": [\n                        {\n                            \"id\": 1\n                        },\n                        {\n                            \"id\": 71\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}\n```\n\n</details>\n\n<details>\n    <summary>Response data</summary>\n\n```\n{\n    \"code\": 200,\n    \"result\": {\n        \"default_url\": \"https://example.org/webhook/store\",\n        \"expires_at\": null,\n        \"events\": [\n            {\n                \"type\": \"order_put_hold\",\n                \"url\": null,\n                \"params\": []\n            },\n            {\n                \"type\": \"shipment_sent\",\n                \"url\": null,\n                \"params\": []\n            },\n            {\n                \"type\": \"shipment_returned\",\n                \"url\": \"https://example.org/webhook/catalog\",\n                \"params\": []\n            },\n            {\n                \"type\": \"catalog_stock_updated\",\n                \"url\": null,\n                \"params\": [\n                    {\n                        \"name\": \"products\",\n                        \"value\": [\n                            {\n                                \"id\": 1\n                            },\n                            {\n                                \"id\": 71\n                            }\n                        ]\n                    }\n                ]\n            }\n        ],\n        \"public_key\": \"somePublicKey\",\n        \"secret_key\": \"0123456789abcdef...\"\n    },\n    \"extra\": []\n}\n```\n\n</details>\n\nThe public key will be used to distinguish between events coming from different configurations.\n\nFor example, if you use the same URL for different stores or create multiple configurations for the same store\nwith different tokens for the same URL, you may use the public key to know which configuration was used.\n\nThe secret key will be used to verify the signature of the received event.\n\n### Updating or adding event configuration\n\nIf you have the general settings created for the store, you may modify or update the settings for specific events.\n\nWe will now show how to add support for another event: `order_created`.\n\nEndpoint: `POST https://api.printful.com/v2/webhooks/{eventType}`\n\nIf you don't need to specify additional fields like URL, you may send the request without body.\nWe will send such a request in this example.\n\nRequest URL: https://api.printful.com/v2/webhooks/order_created\n\n<details>\n    <summary>Response data</summary>\n\n```\n{\n    \"code\": 200,\n    \"result\": {\n        \"type\": \"order_created\",\n        \"url\": null,\n        \"params\": []\n    },\n    \"extra\": []\n}\n```\n\n</details>\n\nThe endpoint may be used to replace existing event settings. It may be used for an already configured\nevent or a new one.\n\nRequest URL: https://api.printful.com/v2/webhooks/shipment_returned\n\nIf we omit the request body, we will replace the existing configuration with a custom URL\nwith a default one, using the store's `default_url`.\n\nHowever, we want to update the URL with another one.\n\n<details>\n    <summary>Request body</summary>\n\n```\n{\n    \"url\": \"https://example.org/webhook/another\"\n}\n```\n\n</details>\n\n<details>\n    <summary>Response data</summary>\n\n```\n{\n    \"code\": 200,\n    \"result\": {\n        \"type\": \"shipment_returned\",\n        \"url\": \"https://example.org/webhook/another\",\n        \"params\": []\n    },\n    \"extra\": []\n}\n```\n\n</details>\n\nNote it's not possible to omit the request body for an event requiring a parameter.\n\nSending a request without body to https://api.printful.com/v2/webhooks/catalog_stock_updated will result in an error.\n\n## Event example\n\nThis is an example of an `order_created` event sent to the specified URL:\n\n\n<details>\n    <summary>Event content</summary>\n\n```\n{\n  \"type\": \"order_created\",\n  \"occurred_at\": 1680611802,\n  \"retries\": 0,\n  \"store_id\": 123456,\n  \"data\": {\n    \"order\": {\n      \"id\": 11111,\n      \"external_id\": null,\n      \"status\": \"pending\",\n      \"created\": 1680611801,\n      \"updated\": 1680611802,\n      \"dashboard_url\": \"https://www.printful.test/dashboard?order_id=90630659\",\n    }\n  }\n}\n```\n\n</details>\n\nIn headers, you will also receive:\n\n* The base64-encoded public key associated with the configuration used to trigger the event in `x-pf-webhook-public-key`\n  header\n* The hexadecimal representation of the signature in `x-pf-webhook-signature` header.\n\nYou may use the secret key associated with the settings to calculate the HMAC-SHA256 hash for the event data\nand compare it to the value from header. You may create a script or use an online or offline tool to do this.\n\n# PATCH Partial Updates\n\nSee [RFC 7386](https://datatracker.ietf.org/doc/html/rfc7386).\n\nPATCH updates allows you to change only the fields that you've specified in the request.\n\nIf you'd like to update the value that is an array please keep in mind that in case of arrays the entire\narray is replaced with the value provided in the request. For example:\n\nCurrent array value:\n```\n{\n  \"items\": [\n    {\n      \"catalog_variant_id\": 4011,\n      \"placements\": [\n        {\n          \"placement\": \"front\",\n          \"technique\": \"dtg\",\n          \"layers\": [\n            {\n              \"type\": \"file\",\n              \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"catalog_variant_id\": 4012,\n      \"placements\": [\n        {\n          \"placement\": \"front\",\n          \"technique\": \"dtg\",\n          \"layers\": [\n            {\n              \"type\": \"file\",\n              \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n            }\n          ]\n        },\n        {\n          \"placement\": \"back\",\n          \"technique\": \"dtg\",\n          \"layers\": [\n            {\n              \"type\": \"file\",\n              \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n```\n\nPATCH request:\n```\n{\n  \"items\": [\n    {\n      \"catalog_variant_id\": 4013,\n      \"placements\": [\n        {\n          \"placement\": \"left_sleeve\",\n          \"technique\": \"dtg\",\n          \"layers\": [\n            {\n              \"type\": \"file\",\n              \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n```\n\nResults in:\n```\n{\n  \"items\": [\n    {\n      \"catalog_variant_id\": 4013,\n      \"placements\": [\n        {\n          \"placement\": \"left_sleeve\",\n          \"technique\": \"dtg\",\n          \"layers\": [\n            {\n              \"type\": \"file\",\n              \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n```\n\nNotice that all of the previous items were discarded and were replaced with items provided in the request.\nIt's also not possible to override properties in nested arrays. So whenever you are changing the array\nvalue you need to provide full object.\n\n## Example of order update\n\n<details>\n    <summary>Order that is being updated</summary>\n\n```\n{\n    \"data\": {\n        \"id\": 94188292,\n        \"external_id\": null,\n        \"store_id\": 11229252,\n        \"shipping\": \"STANDARD\",\n        \"status\": \"draft\",\n        \"created_at\": \"2023-10-18T12:35:07Z\",\n        \"updated_at\": \"2023-10-18T12:35:07Z\",\n        \"recipient\": {\n            \"name\": \"John Smith\",\n            \"company\": \"John Smith Inc\",\n            \"address1\": \"19749 Dearborn St\",\n            \"address2\": \"string\",\n            \"city\": \"Chatsworth\",\n            \"state_code\": \"CA\",\n            \"state_name\": \"California\",\n            \"country_code\": \"US\",\n            \"country_name\": \"United States\",\n            \"zip\": \"91311\",\n            \"phone\": \"string\",\n            \"email\": \"dev@printful.com\",\n            \"tax_number\": \"123.456.789-10\"\n        },\n        \"costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": null,\n            \"subtotal\": null,\n            \"discount\": null,\n            \"shipping\": null,\n            \"digitization\": null,\n            \"additional_fee\": null,\n            \"fulfillment_fee\": null,\n            \"retail_delivery_fee\": null,\n            \"tax\": null,\n            \"vat\": null,\n            \"total\": null\n        },\n        \"retail_costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": \"USD\",\n            \"subtotal\": null,\n            \"discount\": \"0.00\",\n            \"shipping\": \"0.00\",\n            \"tax\": \"0.00\",\n            \"vat\": \"0.00\",\n            \"total\": null\n        },\n        \"order_items\": [\n            {\n                \"id\": 66655730,\n                \"external_id\": \"some_external_id\",\n                \"type\": \"order_item\",\n                \"source\": \"catalog\",\n                \"catalog_variant_id\": 4012,\n                \"quantity\": 1,\n                \"name\": \"my_custom_name\",\n                \"price\": \"10.50\",\n                \"retail_price\": null,\n                \"currency\": \"EUR\",\n                \"retail_currency\": \"USD\",\n                \"_links\": {\n                    \"self\": {\n                        \"href\": \"https://api.printful.test/v2/orders/94188292/order-items/66655730\"\n                    }\n                }\n            }\n        ],\n        \"customization\": null,\n        \"_links\": {\n            \"self\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292\"\n            },\n            \"order_confirmation\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/confirmation\"\n            },\n            \"order_items\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/order-items\"\n            },\n            \"shipments\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/shipments\"\n            }\n        }\n    },\n    \"extra\": [],\n}\n```\n\n</details>\n\n### Changing specified fields in recipient object\n\nEndpoint `PATCH https://api.printful.com/v2/orders/{order_id}`\n<details>\n    <summary>Request body</summary>\n\n```\n{\n  \"recipient\": {\n    \"address1\": \"new address\",\n    \"name\": \"new name\"\n  }\n}\n```\n\n</details>\n\nEndpoint `GET https://api.printful.com/v2/orders/{order_id}`\n<details>\n    <summary>Response body</summary>\n\n```\n{\n    \"data\": {\n        \"id\": 94188292,\n        \"external_id\": null,\n        \"store_id\": 11229252,\n        \"shipping\": \"STANDARD\",\n        \"status\": \"draft\",\n        \"created_at\": \"2023-10-18T12:35:07Z\",\n        \"updated_at\": \"2023-10-18T12:35:07Z\",\n        \"recipient\": {\n            \"name\": \"new name\", <--------Changed field\n            \"company\": \"John Smith Inc\",\n            \"address1\": \"new address\", <--------Changed field\n            \"address2\": \"string\",\n            \"city\": \"Chatsworth\",\n            \"state_code\": \"CA\",\n            \"state_name\": \"California\",\n            \"country_code\": \"US\",\n            \"country_name\": \"United States\",\n            \"zip\": \"91311\",\n            \"phone\": \"string\",\n            \"email\": \"dev@printful.com\",\n            \"tax_number\": \"123.456.789-10\"\n        },\n        \"costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": null,\n            \"subtotal\": null,\n            \"discount\": null,\n            \"shipping\": null,\n            \"digitization\": null,\n            \"additional_fee\": null,\n            \"fulfillment_fee\": null,\n            \"retail_delivery_fee\": null,\n            \"tax\": null,\n            \"vat\": null,\n            \"total\": null\n        },\n        \"retail_costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": \"USD\",\n            \"subtotal\": null,\n            \"discount\": \"0.00\",\n            \"shipping\": \"0.00\",\n            \"tax\": \"0.00\",\n            \"vat\": \"0.00\",\n            \"total\": null\n        },\n        \"order_items\": [\n            {\n                \"id\": 66655730,\n                \"external_id\": \"some_external_id\",\n                \"type\": \"order_item\",\n                \"source\": \"catalog\",\n                \"catalog_variant_id\": 4012,\n                \"quantity\": 1,\n                \"name\": \"my_custom_name\",\n                \"price\": \"10.50\",\n                \"retail_price\": null,\n                \"currency\": \"EUR\",\n                \"retail_currency\": \"USD\",\n                \"_links\": {\n                    \"self\": {\n                        \"href\": \"https://api.printful.test/v2/orders/94188292/order-items/66655730\"\n                    }\n                }\n            }\n        ],\n        \"customization\": null,\n        \"_links\": {\n            \"self\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292\"\n            },\n            \"order_confirmation\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/confirmation\"\n            },\n            \"order_items\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/order-items\"\n            },\n            \"shipments\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/shipments\"\n            }\n        }\n    },\n    \"extra\": [],\n}\n```\n\n</details>\n\n### Changing `external_id` property\n\nEndpoint `PATCH https://api.printful.com/v2/orders/{order_id}`\n<details>\n    <summary>Request body</summary>\n\n```\n{\n  \"external_id\": \"1234_abc\"\n}\n```\n\n</details>\n\nEndpoint `GET https://api.printful.com/v2/orders/{order_id}`\n<details>\n    <summary>Response body</summary>\n\n```\n{\n    \"data\": {\n        \"id\": 94188292,\n        \"external_id\": \"1234_abc\", <--------Changed field\n        \"store_id\": 11229252,\n        \"shipping\": \"STANDARD\",\n        \"status\": \"draft\",\n        \"created_at\": \"2023-10-18T12:35:07Z\",\n        \"updated_at\": \"2023-10-18T12:35:07Z\",\n        \"recipient\": {\n            \"name\": \"John Smith\",\n            \"company\": \"John Smith Inc\",\n            \"address1\": \"19749 Dearborn St\",\n            \"address2\": \"string\",\n            \"city\": \"Chatsworth\",\n            \"state_code\": \"CA\",\n            \"state_name\": \"California\",\n            \"country_code\": \"US\",\n            \"country_name\": \"United States\",\n            \"zip\": \"91311\",\n            \"phone\": \"string\",\n            \"email\": \"dev@printful.com\",\n            \"tax_number\": \"123.456.789-10\"\n        },\n        \"costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": null,\n            \"subtotal\": null,\n            \"discount\": null,\n            \"shipping\": null,\n            \"digitization\": null,\n            \"additional_fee\": null,\n            \"fulfillment_fee\": null,\n            \"retail_delivery_fee\": null,\n            \"tax\": null,\n            \"vat\": null,\n            \"total\": null\n        },\n        \"retail_costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": \"USD\",\n            \"subtotal\": null,\n            \"discount\": \"0.00\",\n            \"shipping\": \"0.00\",\n            \"tax\": \"0.00\",\n            \"vat\": \"0.00\",\n            \"total\": null\n        },\n        \"order_items\": [\n            {\n                \"id\": 66655730,\n                \"external_id\": \"some_external_id\",\n                \"type\": \"order_item\",\n                \"source\": \"catalog\",\n                \"catalog_variant_id\": 4012,\n                \"quantity\": 1,\n                \"name\": \"my_custom_name\",\n                \"price\": \"10.50\",\n                \"retail_price\": null,\n                \"currency\": \"EUR\",\n                \"retail_currency\": \"USD\",\n                \"_links\": {\n                    \"self\": {\n                        \"href\": \"https://api.printful.test/v2/orders/94188292/order-items/66655730\"\n                    }\n                }\n            }\n        ],\n        \"customization\": null,\n        \"_links\": {\n            \"self\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292\"\n            },\n            \"order_confirmation\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/confirmation\"\n            },\n            \"order_items\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/order-items\"\n            },\n            \"shipments\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/shipments\"\n            }\n        }\n    },\n    \"extra\": [],\n}\n```\n\n</details>\n\n### Replacing ordered item with another one\n\nEndpoint `PATCH https://api.printful.com/v2/orders/{order_id}`\n<details>\n    <summary>Request body</summary>\n\n```\n{\n  \"items\": [\n        {\n            \"source\": \"catalog\",\n            \"catalog_variant_id\": 4011,\n            \"quantity\": 1,\n            \"placements\": [\n                {\n                    \"placement\": \"front\",\n                    \"technique\": \"dtg\",\n                    \"layers\": [\n                        {\n                            \"type\": \"file\",\n                            \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\",\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}\n```\n\n</details>\n\nEndpoint `GET https://api.printful.com/v2/orders/{order_id}`\n<details>\n    <summary>Response body</summary>\n\n```\n{\n    \"data\": {\n        \"id\": 94188292,\n        \"external_id\": null,\n        \"store_id\": 11229252,\n        \"shipping\": \"STANDARD\",\n        \"status\": \"draft\",\n        \"created_at\": \"2023-10-18T12:35:07Z\",\n        \"updated_at\": \"2023-10-18T12:35:07Z\",\n        \"recipient\": {\n            \"name\": \"John Smith\",\n            \"company\": \"John Smith Inc\",\n            \"address1\": \"19749 Dearborn St\",\n            \"address2\": \"string\",\n            \"city\": \"Chatsworth\",\n            \"state_code\": \"CA\",\n            \"state_name\": \"California\",\n            \"country_code\": \"US\",\n            \"country_name\": \"United States\",\n            \"zip\": \"91311\",\n            \"phone\": \"string\",\n            \"email\": \"dev@printful.com\",\n            \"tax_number\": \"123.456.789-10\"\n        },\n        \"costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": null,\n            \"subtotal\": null,\n            \"discount\": null,\n            \"shipping\": null,\n            \"digitization\": null,\n            \"additional_fee\": null,\n            \"fulfillment_fee\": null,\n            \"retail_delivery_fee\": null,\n            \"tax\": null,\n            \"vat\": null,\n            \"total\": null\n        },\n        \"retail_costs\": {\n            \"calculation_status\": \"calculating\",\n            \"currency\": \"USD\",\n            \"subtotal\": null,\n            \"discount\": \"0.00\",\n            \"shipping\": \"0.00\",\n            \"tax\": \"0.00\",\n            \"vat\": \"0.00\",\n            \"total\": null\n        },\n        \"order_items\": [ <--------Changed field\n            {\n                \"id\": 66655731,\n                \"external_id\": null,\n                \"type\": \"order_item\",\n                \"source\": \"catalog\",\n                \"catalog_variant_id\": 4011,\n                \"quantity\": 1,\n                \"name\": null,\n                \"price\": \"10.50\",\n                \"retail_price\": null,\n                \"currency\": \"EUR\",\n                \"retail_currency\": \"USD\",\n                \"_links\": {\n                    \"self\": {\n                        \"href\": \"https://api.printful.test/v2/orders/94188292/order-items/66655730\"\n                    }\n                }\n            }\n        ],\n        \"customization\": null,\n        \"_links\": {\n            \"self\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292\"\n            },\n            \"order_confirmation\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/confirmation\"\n            },\n            \"order_items\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/order-items\"\n            },\n            \"shipments\": {\n                \"href\": \"https://api.printful.test/v2/orders/94188292/shipments\"\n            }\n        }\n    },\n    \"extra\": [],\n}\n```\n\n</details>\n"
    }
  ],
  "paths": {
    "/v2/catalog-products": {
      "get": {
        "summary": "Retrieve a list of catalog products",
        "description": "This endpoint retrieves a list of the products available in Printful's catalog. The list is paginated and can be filtered using various filters. The information returned includes details on how each product can be designed, such as the available placements, techniques, and additional options.\nFor a visual representation of the design data, please see the following diagram:\n[<img src=\"images/catalog/design_data_diagram.png#center\" width=\"700\"/>](images/catalog/design_data_diagram.png)\n",
        "operationId": "getProducts",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCategoryIds"
          },
          {
            "$ref": "#/components/parameters/ColorsFilter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/NewFilter"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/PlacementsFilter"
          },
          {
            "$ref": "#/components/parameters/SellingRegion"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/SortType"
          },
          {
            "$ref": "#/components/parameters/TechniquesFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProducts"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-products/{id}": {
      "get": {
        "summary": "Retrieve a single catalog product",
        "description": "Returns information about a single specified catalog product. [See catalog product](#tag/Catalog-v2/What-is-a-catalog-product)\n",
        "operationId": "getProductById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/SellingRegion"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProductById"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-variants/{id}": {
      "get": {
        "summary": "Retrieve information about specific catalog variant",
        "description": "Returns information about single specified catalog variant. [See catalog variant](#tag/Catalog-v2/What-is-a-catalog-variant)\n",
        "operationId": "getVariantById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/VariantId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetVariantById"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-products/{id}/catalog-variants": {
      "get": {
        "summary": "Retrieve information about catalog product variants",
        "description": "Returns information about all catalog variants associated with the specified\ncatalog product. [See catalog variant](#tag/Catalog-v2/What-is-a-catalog-variant)\n",
        "operationId": "getProductVariantsById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProductVariantsById"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-categories": {
      "get": {
        "tags": ["Catalog v2"],
        "summary": "Retrieve a list of catalog categories",
        "description": "Returns list of all categories that are present in the catalog. The categories specify the type of the product that is associated with it. For example, the category \"Men’s T-shirts\" indicates that the product is a subgroup of T-shirts specifically targeted at Men.\nCategories can be used to filter the product list by specific tags [See categories_ids](#operation/getProducts)\n",
        "operationId": "getCategories",
        "security": [
          {
            "OAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategories"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-categories/{id}": {
      "get": {
        "summary": "Retrieve information about specific category",
        "description": "Returns information about a specific catalog category. The categories specify the type of the product that is associated with it. For example, the category \"Men’s T-shirts\" indicates that the product is a subgroup of T-shirts specifically targeted at Men.\nCategories can be used to filter the product list by specific tags [See categories_ids](#operation/getProducts)\n",
        "operationId": "getCategoryById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CategoryId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryById"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-products/{id}/catalog-categories": {
      "get": {
        "summary": "Retrieve a list of catalog product categories",
        "description": "To retrieve information about a particular category, use this feature. It returns details about a specific catalog category. Categories help identify the type of product associated with them. For instance, the category \"Men's T-shirts\" denotes that the product is a subgroup of T-shirts intended for men.\n",
        "operationId": "getCategoriesByProductId",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoriesByProductId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-products/{id}/sizes": {
      "get": {
        "summary": "Retrieve size guide for a catalog product",
        "description": "Returns information about the size guide for a specific product.",
        "operationId": "getProductSizeGuideById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/MeasurementUnit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProductSizeGuideById"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-products/{id}/prices": {
      "get": {
        "summary": "Retrieve catalog product prices",
        "description": "Calculates prices for specific catalog product based on selling region and specified currency. Calculations also include Store discounts. Selling region is used to specify product production currency, that is the price that the product is natively manufactured in. Different selling regions might affect the overall price amount. Currency parameter is used only to define the currency that the prices will be displayed in.\n",
        "operationId": "getProductPricesById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/SellingRegionPrice"
          },
          {
            "$ref": "#/components/parameters/Currency"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProductPricesById"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/catalog-variants/{id}/prices": {
      "get": {
        "summary": "Retrieve pricing information for the catalog variant",
        "description": "Return pricing information from a single variant and the parent product",
        "operationId": "getVariantPricesById",
        "security": [
          {
            "OAuth": []
          }
        ],
        "tags": ["Catalog v2"],
        "parameters": [
          {
            "$ref": "#/components/parameters/VariantId"
          },
          {
            "$ref": "#/components/parameters/SellingRegionPrice"
          },
          {
[...]
